.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: white;
  width: 90%;
  max-width: 900px;
  border-radius: 4px;
  border-top: 3px solid  #2f5bea; 
  box-shadow: 0 4px 20px rgba(0,0,0,0.15);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  border-bottom: 1px solid #2f5bea;;
  color:  #2f5bea !important;
}

.modal-header h2 {
  font-size: 15px;
  font-weight: 600;
  color: #2c3e50;
}

.modal-close {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #666;
}

.modal-body {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.modal-field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.modal-field label {
  font-size: 13px;
  font-weight: 500;
   color: #2f5bea;
}

.required {
   color: #2f5bea;
}

.modal-field input,
.modal-field select {
  padding: 9px 12px;
  border: 1px solid #cfd6dd;
  border-radius: 4px;
  font-size: 13px;
  outline: none;
  color: #333;
}

.modal-field input:focus,
.modal-field select:focus {
  border-color: #2f5bea;
}

.file-input {
  padding: 6px 12px !important;
  cursor: pointer;
}

.error {
  font-size: 11px;
  color: red;
}

.modal-field span {
   color: red;
}

.modal-footer {
  padding: 12px 24px;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #2f5bea
}

.save-btn {
  background:#2f5bea;
  color: white;
  border: none;
  padding: 8px 24px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
}

.save-btn:hover {
  background: #1f45c2;
}