.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #4f77b6 50%, #f1f1f1 40%);
}

.login-card {
  width: 520px;
  background: white;
  padding: 35px;
  border-radius: 6px;
  border: 2px solid #ff4fa1;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.logo-img {
  width: 180px;
  display: block;
  margin: 0 auto;
}

.logo-divider {
  width: 60%;
  height: 1px;
  background-color: #fc57a4;
  margin: 15px auto 18px;
}

.subtitle {
  text-align: center;
  margin: 10px 0 30px;
  color: #ff4fa1;
  font-size: 18px;
}

.login-card label {
  font-size: 14px;
  color: #4f77b6;
  display: block;
  margin-bottom: 12px;
  margin-top: 15px;
}

.login-card input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  margin-bottom: 3px;
}

.checkbox-row {
  display: flex; 
  justify-content: space-between;
  margin-top: 15px;
}

.checkbox-row label {
  white-space: nowrap;
  margin-top: 3px;
  color: rgb(121, 118, 118);
}

.checkbox-row div {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
}

.login-btn {
  width: 100%;
  margin-top: 25px;
  padding: 12px;
  background: #4f77b6;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}